.gradle/
**/build/
**/out/
.cxx/
.externalNativeBuild/
local.properties
local.defaults.properties
secrets.properties

*.iml
.idea/

.DS_Store
Thumbs.db

*.apk
*.aab
*.ap_
*.aapt

*.jks
*.keystore
keystore.properties
google-services.json
GoogleService-Info.plist

*.log
.idea_modules/
captures/
